body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 900;
    line-height: 1em;
}

h2 {
    color: rgb(95, 37, 37);
    font-size: 60px;
}

h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.3em;
}
h3{
    color: rgb(95, 37, 37);
    font-size: 27px; 
}

h4 {
    color: rgb(95, 37, 37);
    font-size: 25px;
    font-weight: 500;
}

h6 {
    color: rgb(95, 37, 37);
    font-size: 25px;
}

p {
    font-weight: 400;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

.btn.btn-info {
    background: rgb(161, 55, 16);
    border: 1px solid rgb(161, 55, 16);
    color: #fff;
    border-radius: 25px;
    padding: 13px 34px;
}

.bg-info {
    background:#f5ebdc !important
}
/*-----Padding top for some sections----*/
#about,
#work,
#service,#contact {
    padding-top: 110px;
}
/*------Header------*/
#main_menu nav {
    background-color: rgb(226, 200, 204);
    font-weight: 600;
}

#main_menu nav li {
    margin-left: 16px;
}
#main_menu a.active{
    color: red;
}
/*----Slider------*/
#slider {
    padding-top: 85px;
}

/*------Contact Us-----*/
#contact{
    background: url(img/map.jpg);
}
/*-----Footer-------*/
#footer form .btn.btn-info{
    border-radius: 0;
    padding: 5px;
}
#footer ul li a{
    color: black;
    font-weight: 400;
    text-decoration: none;
}
#footer .social li{
    display: inline-block;
    margin-right: 15px;
}

/*-------Responsiveness-------*/
@media only screen and(max-width:600px){
 #main_menu img{
    max-width: 150px;
 }
 #slider{
    padding-top: 65px;
 }
    #about,#work,#service,#contact{
        padding-top: 35px;
    }
    h2 {
        font-size: 35px;
        font-weight: bold;
        text-transform: capitalize;
    }
    h4{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
}
